@import "reset";
@import "base";

// common
.hidden {
  display: none;
}
.font-red {
  color: $fontRed;
}
.font-yellow {
  color: $fontYellow;
}
.font-blue {
  color: $fontBlue;
}

// components
#app {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  margin: -200px auto 0;
  text-align: center;
  font-size: 24px;
  color: $baseColor;
  h1 {
    font-size: 60px;
    em {
      background-color: $baseColor;
      color: $fontWhite;
      border-radius: 10px;
      padding: 0 10px;
    }
  }
  nav {
    font-size: 36px;
    line-height: 100px;
    .nav-hello {
      color: $extColor1;
      margin-right: 10px;
      &:hover {
        background-color: $extColor1;
        color: $fontWhite;
      }
    }
    .nav-bye {
      color: $extColor2;
      margin-left: 10px;
      &:hover {
        background-color: $extColor2;
        color: $fontWhite;
      }
    }
    .v-link-active {
      text-decoration: underline;
    }
  }
}

// utils
.spin {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
